/* body{
    background-color: lightgrey;
    background-image: url("../images/01-02-02_background-img.jpg");
} */
/*absolute path*/
body{
    background-color: lightgrey;
    background-image: url("/assets/images/01-02-02_background-img.jpg"); 
}
h2{
    color: orangered;
}